a{
    text-decoration: none;
}
.grid-layout{
    height: auto;
    display: grid;
    grid-template-areas:'cabecera cabecera'
                        'menu menu'
                        'contenido barra'
                        'pie pie';
    background-color: beige;
    grid-template-columns: 3fr 1fr;
    border: 1px solid rgb(2, 2, 0);
}

.caja{
    padding: 10px;
    text-align: center;
    background-color: rgb(80, 80, 80);
    border: 5px solid rgb(0, 0, 0);

}

.c1{
    grid-area: cabecera;
    background-color: rgb(0, 0, 0);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.c2{
    grid-area: menu;
    display: grid;
    background-color:rgb(250, 233, 3);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.c3{
    grid-area: barra;
    display: grid;
    background-color: rgb(65, 91, 161);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.c4{
    grid-area: contenido;
    background-color:rgb(250, 233, 3);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.c5{
    grid-area: pie;
    background-color: rgb(75, 126, 126);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    
}

.card{
    background-color: rgb(14, 14, 13);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5%;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.imgcard{
    width: 100px;
    height: auto;
}
.logo{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    height: auto;
}
p{
    display: flex;
    justify-content: center;
}
h1{
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px rgb(250, 233, 3);
    text-align: center;
}
h2{
    color: rgb(250, 233, 3);
    text-align: center;
    
}
nav ul {

    text-decoration: none;
    background-color:rgb(250, 233, 3);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
    padding: 10px;
}
body{
    background-color: rgb(0, 0, 0);
    color: rgb(250, 233, 3);
}
form{
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: auto;
    width: 35%;
    padding: 10px;
    background-color: rgb(250, 233, 3);
    margin: 0 auto;
    label{
        color: rgb(0, 0, 0);
    }   
}
.boton{
    justify-content: center;
    position: relative;
    display: flex;
    margin: 0 auto;
    background-color: rgb(250, 233, 3);
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 20%;
    border-radius: 5px;
    text-decoration: none;
}
.logologin{
    border-radius: 10px;
    position: relative;
    display: flex;
    margin: 0 auto;
    top: 45px;
    width: 30%;
    height: auto;
}